 [Unit]
 Description=Observation service
 After=multi-user.target

 [Service]
 Type=idle
 User=pi
 Group=pi
 Restart=always
 ExecStart=/usr/bin/python3 /home/pi/Documents/picar/data_collector/collector.py -c --loglevel 2 --praefix /videos/ --mask /videos/mask.png

 [Install]
 WantedBy=multi-user.target
