 [Unit]
 Description=Temperature reader
 After=multi-user.target

 [Service]
 Type=idle
 User=pi
 Group=pi
 Restart=always
 ExecStart=/usr/bin/python3 /home/pi/Documents/temp_reader/get_sensors.py --quiet --praefix /home/pi/ 

 [Install]
 WantedBy=multi-user.target
